<footer class="uk-section uk-text-center uk-section-small" style="background: white">
    <div>
        <img src="/uploads/Olnick-logo.png" alt="Olnick" width="100" class="uk-padding-small">
        <img src="/uploads/high res logo.jpg" alt="Peter Pennoyer" width="60" class="uk-padding-small">
        <img src="/uploads/BKSK_architecture_interiors_black high res.png" alt="BKSK Architect" width="100" class="uk-padding-small">
        <img src="/uploads/SERHANT-newdev-logo.png" alt=" SERHANT New Development" width="100" class="uk-padding-small">
        <p class="uk-text-uppercase" style="font-size: 10px">Exclusive Leasing and Marketing by Serhant. New Development <br> Equal housing opportunity. <a href="https://dos.ny.gov/system/files/documents/2021/08/fairhousingnotice.pdf" target="_blank" class="accent">Fair Housing Notice</a></p>
    </div>
</footer>
</body>
</html>