<div class="uk-section uk-section-large inquire__section">
    <div class="uk-container uk-container-small">
        <div class="uk-text-center">
            <div class="uk-light uk-flex uk-flex-center">
                <div class="uk-width-large">
                    <h2 class="uk-heading-small">Inquire</h2>
                    <p>Schedule a tour to visit our newly opened sales office and uncover the timeless luxury of Era</p>
                </div>
            </div>
            {{ partial "templates/form" . }}
        </div>
    </div>
</div>