

<div class="uk-section uk-text-center content" uk-height-viewport>
    <div>
        <div class="uk-position-top uk-padding">
                <h2 class="uk-text-uppercase">Coming Soon</h2>
                <p>Luxury Apartments in the Heart of the Upper West Side</p>
        </div>
        <div class="uk-position-center">
            <img src="/uploads/laney-logo.png" alt="The Laney logo" width="400">
            <div class="uk-margin-medium-top">
                <a href="mailto:the-laney@serhant.com" class="uk-button uk-button-primary">Get on the list</a>
            </div>
        </div>
    </div>
</div>