
<div class="uk-open splash-video">
  <div>
      <div>
          <div class="uk-cover-container relative">
            <canvas width="400" height="800"></canvas>
            <video src="https://res.cloudinary.com/hungryram19/video/upload/v1660681813/serhant/the-laney/cropped-new.mp4" muted playsinline uk-cover style="border: 0;outline:none" frameborder="0"></video>
            <div class="content" uk-scrollspy="cls: uk-animation-fade; delay: 4500">
              <h1 class="accent">Coming Soon</h1>
              <p>Luxury Apartments in the Heart of the Upper West Side</p>
              <div>
                <a href="#modal-center" class="uk-button uk-button-primary" uk-toggle>Get on the list</a>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>


<div id="modal-center" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

      <button class="uk-modal-close-default" type="button" uk-close></button>

      <form name="The Laney Form" method="POST" netlify-honeypot="bot-field" data-netlify="true" class="uk-grid-small inquire__form" uk-grid action="/thank-you">
          <input name="bot-field" type="hidden" />
          <input type="hidden" name="Subject" value="The Laney Form">
          <div class="uk-width-1-1">
              <p class="uk-margin-remove">NAME</p>
          </div>
          <div class="uk-width-1-2@s">
              <input class="uk-input" type="text" name="First Name" id="uk-input-fname" required>
              <label for="uk-input-fname" class="uk-text-default">First name</label>
          </div>
          <div class="uk-width-1-2@s">
              <input class="uk-input" type="text" name="Last Name" id="uk-input-lname" required>
              <label for="uk-input-lname" class="uk-text-default">Last name</label>
      
          </div>
          <div class="uk-width-1-1@s">
              <input class="uk-input" type="email" id="input-email" name="Email" placeholder="Email" required>
          </div>
          <div class="uk-width-1-1">
              <textarea name="message" id="" cols="30" rows="3" class="uk-textarea" name="Message" placeholder="Message"></textarea>
          </div>
          <div class="uk-width-1-1">
              <button class="uk-button uk-button-primary">Submit</button>
          </div>
      </form>

  </div>
</div>