
<div class="uk-modal-full uk-open splash-video" uk-modal style="display: block;overflow:hidden">
  <div>
      <div>
          <div>
            <video src="https://res.cloudinary.com/hungryram19/video/upload/v1658960725/serhant/the-laney/moved-the-laney.mp4" autoplay muted playsinline uk-cover></video>
          </div>
          <div class="content" uk-scrollspy="cls: uk-animation-fade; delay: 4500">
            <h1 class="accent">Coming Soon</h1>
            <p>Luxury Apartments in the Heart of the Upper West Side</p>
            <div>
              <a href="mailto:info@serhant.com" class="uk-button-primary uk-button">Get on the list</a>
            </div>
          </div>
      </div>
  </div>
</div>